.elegir-container{
    background-color: transparent;
    width: 300px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn{
    background-color: transparent;
    width: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 600;
    border: 0;
    margin: 0;
}