.elegir-container{
    background-color: transparent;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.elegir-tipo{
    background-color: transparent;
    padding: 10px;
    border: 0 solid transparent;
    outline: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 600;
}

.elegir-tipo>option{
    background-color: transparent transparent;
}

.btn-acceder{
    background-color: transparent;
    width: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 600;
    border: 0;
}